.video iframe {
  max-width: 500px;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.facts-section {
  margin-bottom: 16px;
}
.facts-section > h2 {
  margin-bottom: 4px;
}

.book-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.book-wrapper > div:first-child {
  flex: 1;
  flex-basis: 400px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.music-player {
  margin-top: 16px;
  
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.music-player > *:last-child {
  flex: 1;
  flex-basis: 400px;
}
.video-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.video-wrapper > div {
  flex: 1;
  flex-basis: 400px;
}
