section section {
  padding-left: 1em;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

table {
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid #222222;
  text-align: left;
}
th, td {
  padding: 4px;
}
tr {
  transition: all 0.2s ease-in-out;
}
tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}

.resume-section {
  margin-bottom: 16px;
}